# ============================
# 🌬️ Airflow - Segurança (obrigatório)
# ============================
AIRFLOW__CORE__FERNET_KEY=
AIRFLOW__WEBSERVER__SECRET_KEY=

# ============================
# 🗄️ Banco de dados (RDS PostgreSQL) - obrigatório
# Exemplo:
# postgresql+psycopg2://usuario:senha@endpoint-rds:5432/airflow
# ============================
AIRFLOW__DATABASE__SQL_ALCHEMY_CONN=

# ============================
# ⚙️ Airflow - Config básica (recomendado)
# ============================
AIRFLOW__CORE__EXECUTOR=LocalExecutor
AIRFLOW__CORE__LOAD_EXAMPLES=False
AIRFLOW__LOGGING__LOGGING_LEVEL=INFO
AIRFLOW__WEBSERVER__EXPOSE_CONFIG=False

# ============================
# 👤 Usuário Admin (para airflow-init criar o login) - obrigatório
# ============================
AIRFLOW_ADMIN_USERNAME=admin
AIRFLOW_ADMIN_PASSWORD=
AIRFLOW_ADMIN_FIRSTNAME=Admin
AIRFLOW_ADMIN_LASTNAME=User
AIRFLOW_ADMIN_EMAIL=

# ============================
# 🧩 Opcional (permissões de volume em Linux)
# Se você NÃO usar a linha user: "${AIRFLOW_UID:-50000}:0" no compose, pode ignorar.
# ============================
AIRFLOW_UID=
