# ============================
# 🔒 Secrets / configs
# ============================
.env
.env.dev
secrets.json

# ============================
# 🌬️ Airflow
# ============================
logs/
airflow.db

# ============================
# 🐍 Python
# ============================
__pycache__/
*.py[cod]

# ============================
# 🧰 IDEs / editores
# ============================
.vscode/
.idea/

# ============================
# 📦 Temporários
# ============================
*.log
*.tmp
*.bak
*.swp
.DS_Store
Thumbs.db
